*
    margin: 0
    font-family: 'Poppins', sans-serif
body
    background-image: url(../images/bg.jpg)
    background-size: 100% auto
    background-repeat: repeat-y 
header
    text-align: center
    h1
        color: white
        font-weight: 700
        font-size: 38px
        margin: 6% 30% 0
        line-height: 30px
    p
        color: white
        font-weight: 100
        font-size: 10px
        margin: 0 0 40px
.banner
    text-align: center
    margin: 0 15%
    img
       width: 100% 
       margin-bottom: -10px
    div
        text-align: center
        width: 100%
        background-color: white
        h2
            font-size: 16px
            padding: 40px 0 8px
        hr
            border: none
            border-bottom: #bdbdbd solid .5px
            width: 10%
            margin: auto
        h6
            text-transform: uppercase
            color: #bdbdbd
            font-weight: 300
            font-size: 8px
            letter-spacing: 2px
            padding: 10px 0 40px 
article
    margin: 0 15%
    p
        background-color: #F4F4F4
        color: #969696
        font-weight: 300
        font-size: 10px
        line-height: 18px
        padding: 50px 50px 10px
        &:last-of-type
            padding: 10px 50px 50px
.portfolio
    text-align: center
    margin: 0 15%
    background-color: #1E1F23
    padding: 50px /*allows me to drop inner div down*/
    div
        margin: auto /*centers div w/in parent*/
        background-color: #121315
        h2
            font-size: 16px
            font-weight: 700
            padding: 40px 0 10px
            color: white
        hr
            border: none
            border-bottom: #4a4a4a solid .25px
            width: 8%
            margin: auto
        h6
            text-transform: uppercase
            color: #4a4a4a
            font-weight: 300
            font-size: 8px
            letter-spacing: 2px
            padding: 10px 0 20px 
    .image-block
        margin: auto /*centers div w/in parent*/
        display: flex
        flex-wrap: wrap
        img
            width: 50%
.bios
    margin: 0 15%
    display: flex
    flex-wrap: wrap
    img
        width: 50%
    div
        width: 50%
        background-color: #F4F4F4
        h3
            color: #1E1F23
            font-size: 15px
            padding-top: 75px
            padding-left: 55px
        p
            color: #969696
            font-weight: 300
            font-size: 10px
            line-height: 17px
            padding: 10px 55px
    .bio-dark
        background-color: #1E1F23
        text-align: right
        h3
            color: white
            padding-right: 55px
        p
            color: #5e5e5e
footer